---
layout: default
---
<section class="archive">
  <h1 class="archive-title">{{ page.title }}</h1>

  <div class="tag-cloud">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
    <a href="#{{ tag[0] | slugify }}" class="tag">{{ tag[0] }} <span class="tag-count">{{ tag[1].size }}</span></a>
    {% endfor %}
  </div>

  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
  <div class="tag-group" id="{{ tag[0] | slugify }}">
    <h2 class="tag-group-title">{{ tag[0] }}</h2>
    <ul class="tag-posts">
      {% for post in tag[1] %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</section>
